Repository udecode/plate, pull requests merged in 2020-06, with the labels that each got.

#175 Serialize multiple marks on one leaf to html correctly
  packages/slate-plugins/src/__tests__/serializers/serialize-html/htmlSerialize.spec.ts
  packages/slate-plugins/src/serializers/serialize-html/serializeHTMLFromNodes.ts
Labels: fix, plugin:serialize-html

#180 add th support for table
  packages/slate-plugins/src/elements/table/components/ToolbarTable.tsx
  packages/slate-plugins/src/elements/table/deserializeTable.ts
  packages/slate-plugins/src/elements/table/queries/isTableCell.ts
  packages/slate-plugins/src/elements/table/renderElementTable.tsx
  packages/slate-plugins/src/elements/table/types.ts
  stories/config/initialValues.ts
Labels: feature request, plugin:deserializer, plugin:table

#184 Fix inline void types
  CHANGELOG.md
  README.md
  package.json
  packages/slate-plugins/README.md
  packages/slate-plugins/package.json
  packages/slate-plugins/src/__tests__/components/EditablePlugins/all-plugins.spec.tsx
  packages/slate-plugins/src/components/EditablePlugins/EditablePlugins.tsx
  packages/slate-plugins/src/element/withInlineVoid.ts
  stories/deserializers/deserialize-html.stories.tsx
  stories/deserializers/deserialize-markdown.stories.tsx
  stories/docs/intro.stories.mdx
  stories/elements/editable-voids/editable-voids.stories.tsx
  stories/elements/image.stories.tsx
  stories/elements/link.stories.tsx
  stories/elements/media-embed.stories.tsx
  stories/elements/mention.stories.tsx
  stories/examples/playground.stories.tsx
  yarn.lock
Labels: BREAKING CHANGE, fix
