Repository udecode/plate, pull requests merged in 2025-06, with the labels that each got.

#4351 slate
  .changeset/few-bananas-teach.md
  .changeset/tough-carpets-return.md
  packages/date/src/lib/BaseDatePlugin.ts
  packages/slate/package.json
  yarn.lock
Labels: slate, lgtm

#4365 stopPropagation
  .changeset/good-scissors-learn.md
  packages/core/src/react/components/EditorHotkeysEffect.tsx
  yarn.lock
Labels: size:XS

#4373 Support synchronous value
  .changeset/core-async-init-patch.md
  apps/www/src/registry/examples/installation-next-04-value-demo.tsx
  apps/www/src/registry/examples/playground-demo.tsx
  apps/www/src/registry/ui/block-draggable.tsx
  docs/(guides)/controlled.mdx
  docs/(guides)/editor.mdx
  docs/api/core.mdx
  docs/api/core/plate-controller.mdx
  docs/api/core/plate-editor.mdx
  docs/installation/manual.mdx
  docs/installation/next.mdx
  docs/installation/react.mdx
  packages/core/src/lib/editor/withSlate.ts
  packages/core/src/lib/plugins/slate-extension/transforms/init.spec.ts
  packages/core/src/lib/plugins/slate-extension/transforms/init.ts
  packages/core/src/react/components/Plate.spec.tsx
  packages/core/src/react/components/PlateContent.tsx
  packages/core/src/react/editor/usePlateEditor.ts
  packages/core/src/react/editor/withPlate.ts
  packages/core/src/react/utils/pluginRenderElement.tsx
Labels: slate, core, size:XL

#4377 Fix cursor regression and performance issue affecting tables
  apps/www/src/registry/ui/table-node.tsx
  docs/components/changelog.mdx
Labels: plugin:table, performance issue, regression, size:S

#4382 Omit duplicate type definition to avoid wrong union types
  .changeset/blue-mugs-doubt.md
  packages/core/src/react/editor/PlateEditor.ts
Labels: core, size:S

#4385 Drag and drop improvements
  .changeset/tender-horses-beg.md
  .changeset/three-singers-change.md
  apps/www/src/registry/components/editor/plugins/block-selection-kit.tsx
  apps/www/src/registry/examples/values/playground-value.tsx
  apps/www/src/registry/ui/block-draggable.tsx
  apps/www/src/registry/ui/block-selection.tsx
  apps/www/src/registry/ui/table-node.tsx
  docs/components/changelog.mdx
  packages/core/src/lib/editor/withSlate.spec.ts
  packages/dnd/src/DndPlugin.tsx
  packages/dnd/src/components/useDraggable.ts
  packages/dnd/src/hooks/useDndNode.ts
  packages/dnd/src/hooks/useDragNode.ts
  packages/dnd/src/hooks/useDropNode.ts
  packages/dnd/src/transforms/onDropNode.ts
  packages/dnd/src/transforms/onHoverNode.spec.ts
  packages/dnd/src/transforms/onHoverNode.ts
  packages/dnd/src/types.ts
  packages/dnd/src/utils/getHoverDirection.ts
  packages/selection/src/react/BlockSelectionPlugin.tsx
  packages/selection/src/react/hooks/useSelectionArea.ts
  packages/selection/src/react/utils/copySelectedBlocks.ts
Labels: plugin:dnd, size:XL

#4392 Remove useless block selection code
  .changeset/tender-horses-beg.md
  packages/selection/src/react/BlockSelectionPlugin.tsx
Labels: plugin:block-selection, size:S

#4404 fix: escape for tw class names with literal underscore
  apps/www/src/registry/ui/code-block-node.tsx
Labels: patch, size:XS

#4405 chore(docs): update usage example for list-classic in toolbars
  docs/(plugins)/(elements)/list-classic.cn.mdx
  docs/(plugins)/(elements)/list-classic.mdx
Labels: plugin:list-classic, size:S

#4416 fix: preserve paragraph breaks in markdown serialization/deserialization
  .changeset/ai-patch.md
  .changeset/sour-comics-crash.md
  packages/ai/src/lib/streaming/streamDeserializeMd.ts
  packages/ai/src/lib/streaming/streamSerializeMd.ts
  packages/markdown/src/lib/deserializer/deserializeMd.ts
  packages/markdown/src/lib/deserializer/paragraphBreaks.spec.ts
  packages/markdown/src/lib/rules/defaultRules.ts
  packages/markdown/src/lib/serializer/serializeMd.ts
Labels: plugin:markdown, size:L

#4423 feat: support unref callback in composeRef
  .changeset/khaki-ligers-fly.md
  packages/udecode/react-utils/src/useComposedRef.ts
  yarn.lock
Labels: feature request, size:S

#4420 markdown keys
  .changeset/core-minor.md
  .changeset/markdown-minor.md
  packages/core/src/lib/plugin/getSlatePlugin.ts
  packages/core/src/lib/utils/getInjectMatch.ts
  packages/core/src/lib/utils/getKeysByTypes.ts
  packages/core/src/lib/utils/index.ts
  packages/markdown/src/lib/__tests__/createTestEditor.tsx
  packages/markdown/src/lib/deserializer/convertNodesDeserialize.spec.ts
  packages/markdown/src/lib/deserializer/convertNodesDeserialize.ts
  packages/markdown/src/lib/deserializer/convertTextsDeserialize.ts
  packages/markdown/src/lib/deserializer/deserializeMd.spec.tsx
  packages/markdown/src/lib/deserializer/utils/customMdxDeserialize.ts
  packages/markdown/src/lib/deserializer/utils/getDeserializerByKey.ts
  packages/markdown/src/lib/deserializer/utils/getMergedOptionsDeserialize.ts
  packages/markdown/src/lib/rules/__snapshots__/defaultRule.spec.ts.snap
  packages/markdown/src/lib/rules/defaultRule.spec.ts
  packages/markdown/src/lib/rules/defaultRules.ts
  packages/markdown/src/lib/serializer/convertNodesSerialize.spec.ts
  packages/markdown/src/lib/serializer/convertNodesSerialize.ts
  packages/markdown/src/lib/serializer/serializeInlineMd.ts
  packages/markdown/src/lib/serializer/utils/getMergedOptionsSerialize.ts
  packages/markdown/src/lib/serializer/utils/getSerializerByKey.ts
  packages/markdown/src/lib/types.ts
Labels: plugin:markdown, size:L

#4434 fix: handle callback refs that return functions in useComposedRef
  .changeset/fix-callback-ref-warning.md
  packages/udecode/react-utils/src/useComposedRef.spec.ts
  packages/udecode/react-utils/src/useComposedRef.ts
Labels: patch, size:L
