Repository udecode/plate, pull requests merged in 2025-09, with the labels that each got.

#4600 Slate 0.118
  .changeset/neat-walls-mix.md
  apps/www/src/registry/blocks/editor-ai/components/editor/plate-editor.tsx
  apps/www/src/registry/blocks/editor-basic/components/editor/plate-editor.tsx
  packages/core/package.json
  packages/slate/package.json
  packages/slate/src/interfaces/node.ts
  packages/test-utils/package.json
  yarn.lock
Labels: size:M, dependencies

#4603 Fix: Drop line is not visible when hovering white space inside the editor
  .changeset/neat-cooks-turn.md
  packages/dnd/src/DndPlugin.tsx
Labels: bug, plugin:dnd, size:S

#4620 Fix `remarkStringifyOptions` not taken into account
  .changeset/hot-students-sort.md
  packages/markdown/src/lib/MarkdownPlugin.ts
  packages/markdown/src/lib/serializer/serializeMd.spec.tsx
  packages/markdown/src/lib/serializer/serializeMd.ts
  packages/markdown/src/lib/serializer/utils/getMergedOptionsSerialize.ts
Labels: plugin:markdown, patch, lgtm, size:M

#4626 suggestion
  .changeset/ai-improvements.md
  .changeset/comment-improvements.md
  .changeset/diff-improvements.md
  .changeset/list-improvements.md
  .changeset/markdown-improvements.md
  .changeset/selection-improvements.md
  .changeset/suggestion-improvements.md
  apps/www/src/registry/app/api/ai/command/route.ts
  apps/www/src/registry/components/editor/plugins/ai-kit.tsx
  apps/www/src/registry/components/editor/plugins/markdown-kit.tsx
  apps/www/src/registry/components/editor/use-chat.ts
  apps/www/src/registry/lib/markdown-joiner-transform.ts
  apps/www/src/registry/ui/ai-menu.tsx
  apps/www/src/registry/ui/ai-toolbar-button.tsx
  apps/www/src/registry/ui/block-context-menu.tsx
  apps/www/src/registry/ui/block-discussion.tsx
  apps/www/src/registry/ui/fixed-toolbar-buttons.tsx
  apps/www/src/registry/ui/link-node.tsx
  docs/components/changelog.mdx
  packages/ai/package.json
  packages/ai/src/lib/transforms/undoAI.ts
  packages/ai/src/lib/utils/getEditorPrompt.ts
  packages/ai/src/lib/utils/getMarkdown.ts
  packages/ai/src/lib/utils/index.ts
  packages/ai/src/lib/utils/replacePlaceholders.ts
  packages/ai/src/react/ai-chat/AIChatPlugin.ts
  packages/ai/src/react/ai-chat/transforms/acceptAIChat.ts
  packages/ai/src/react/ai-chat/transforms/insertBelowAIChat.ts
  packages/ai/src/react/ai-chat/utils/applyAISuggestions.ts
  packages/ai/src/react/ai-chat/utils/index.ts
  packages/ai/src/react/ai-chat/utils/resetAIChat.ts
  packages/ai/src/react/ai-chat/utils/submitAIChat.ts
  packages/ai/src/react/ai-chat/withAIChat.ts
  packages/comment/src/lib/utils/getDraftCommentKey.ts
  packages/comment/src/lib/utils/getTransientCommentKey.ts
  packages/comment/src/lib/utils/index.ts
  packages/diff/src/internal/transforms/transformDiffTexts.ts
  packages/diff/src/lib/computeDiff.spec.ts
  packages/diff/src/lib/computeDiff.ts
  packages/list/src/lib/withList.ts
  packages/markdown/src/lib/MarkdownPlugin.ts
  packages/markdown/src/lib/__tests__/createTestEditor.tsx
  packages/markdown/src/lib/rules/defaultRules.ts
  packages/markdown/src/lib/serializer/__snapshots__/serializeMd.spec.tsx.snap
  packages/markdown/src/lib/serializer/convertNodesSerialize.spec.ts
  packages/markdown/src/lib/serializer/convertTextsSerialize.ts
  packages/markdown/src/lib/serializer/serializeMd.ts
  packages/markdown/src/lib/serializer/utils/getMergedOptionsSerialize.ts
  packages/selection/src/react/transforms/insertBlocksAndSelect.ts
  packages/suggestion/src/lib/BaseSuggestionPlugin.ts
  packages/suggestion/src/lib/diffToSuggestions.ts
  packages/suggestion/src/lib/transforms/acceptSuggestion.ts
  packages/suggestion/src/lib/transforms/getSuggestionProps.ts
  packages/suggestion/src/lib/utils/SkipSuggestionDeletes.spec.ts
  packages/suggestion/src/lib/utils/SkipSuggestionDeletes.ts
  packages/suggestion/src/lib/utils/getSuggestionId.ts
  packages/suggestion/src/lib/utils/getTransientSuggestionKey.ts
  packages/suggestion/src/lib/utils/index.ts
  packages/suggestion/src/lib/withSuggestion.ts
  yarn.lock
Labels: plugin:ai, size:XXL

#4633 Update horizontal-rule.mdx
  docs/(plugins)/(elements)/horizontal-rule.mdx
Labels: plugin:basic-nodes, size:XS

#4635 Fix ai try again
  .changeset/fast-moles-pay.md
  packages/ai/src/react/ai-chat/AIChatPlugin.ts
  packages/ai/src/react/ai-chat/utils/applyAISuggestions.ts
  packages/ai/src/react/ai-chat/utils/submitAIChat.ts
Labels: patch, plugin:ai, size:S

#4638 Add option `undo` to ai api
  .changeset/hot-seals-shake.md
  packages/ai/src/react/ai-chat/AIChatPlugin.ts
  packages/ai/src/react/ai-chat/utils/resetAIChat.ts
Labels: plugin:ai, size:S

#4629 useFloatingToolbar Hook Error
  .changeset/fair-squids-join.md
  packages/floating/src/hooks/useFloatingToolbar.ts
Labels: bug, size:XS, javascript

#4651 Fix link conflict with floating toolbar
  packages/link/src/react/components/FloatingLink/useFloatingLinkEdit.ts
  packages/link/src/react/components/useLinkToolbarButton.ts
  packages/link/src/react/utils/triggerFloatingLink.ts
  yarn.lock
Labels: plugin:link, patch, size:S

#4654 chore(excalidraw): update deps to support react19 & fix onchange fn & add demo
  .changeset/big-jeans-nail.md
  apps/www/package.json
  apps/www/src/registry/components/editor/plugins/excalidraw-kit.tsx
  apps/www/src/registry/components/editor/transforms.ts
  apps/www/src/registry/examples/playground-demo.tsx
  apps/www/src/registry/registry-examples.ts
  apps/www/src/registry/registry-kits.ts
  apps/www/src/registry/ui/excalidraw-node.tsx
  apps/www/src/registry/ui/insert-toolbar-button.tsx
  apps/www/src/registry/ui/slash-node.tsx
  packages/excalidraw/package.json
  packages/excalidraw/src/index.ts
  packages/excalidraw/src/lib/types.ts
  packages/excalidraw/src/react/hooks/useExcalidrawElement.ts
  packages/excalidraw/src/react/types.ts
Labels: plugin:excalidraw, size:L, dependencies
