Repository udecode/plate, pull requests merged in 2025-07, with the labels that each got.

#4431 set x-slate-fragment in PlateView
  .changeset/platejs-core-minor.md
  apps/www/src/app/dev/layout.tsx
  apps/www/src/app/dev/page.tsx
  apps/www/src/registry/ui/code-block-node-static.tsx
  apps/www/src/registry/ui/code-block-node.tsx
  apps/www/src/registry/ui/editor.tsx
  docs/components/changelog.mdx
  packages/ai/src/lib/streaming/streamDeserializeMd.ts
  packages/core/src/internal/plugin/resolvePlugins.spec.tsx
  packages/core/src/lib/static/editor/index.ts
  packages/core/src/lib/static/editor/withStatic.spec.tsx
  packages/core/src/lib/static/editor/withStatic.tsx
  packages/core/src/lib/static/index.ts
  packages/core/src/lib/static/internal/getPlainText.tsx
  packages/core/src/lib/static/plugins/ViewPlugin.spec.ts
  packages/core/src/lib/static/plugins/ViewPlugin.ts
  packages/core/src/lib/static/plugins/getStaticPlugins.ts
  packages/core/src/lib/static/plugins/index.ts
  packages/core/src/lib/static/utils/getSelectedDomBlocks.spec.ts
  packages/core/src/lib/static/utils/getSelectedDomBlocks.ts
  packages/core/src/lib/static/utils/getSelectedDomNode.spec.ts
  packages/core/src/lib/static/utils/getSelectedDomNode.ts
  packages/core/src/lib/static/utils/index.ts
  packages/core/src/lib/static/utils/isSelectOutside.spec.ts
  packages/core/src/lib/static/utils/isSelectOutside.ts
  packages/core/src/react/components/PlateView.tsx
  packages/core/src/react/components/index.ts
  packages/core/src/react/editor/TPlateEditor.spec.ts
  packages/core/src/react/editor/index.ts
  packages/core/src/react/editor/usePlateViewEditor.spec.tsx
  packages/core/src/react/editor/usePlateViewEditor.ts
  packages/markdown/src/lib/deserializer/convertNodesDeserialize.spec.ts
  packages/udecode/react-utils/src/useComposedRef.spec.ts
  yarn.lock
Labels: core, size:XXL

#4459 Fix jumpy non breaking space height
  .changeset/beige-days-raise.md
  packages/core/src/lib/static/components/slate-nodes.tsx
  packages/core/src/react/components/plate-nodes.tsx
Labels: bug, core, lgtm, size:XS

#4461 fixes
  apps/www/src/registry/examples/values/list-classic-value.tsx
  apps/www/src/registry/registry-ui.ts
  apps/www/src/registry/ui/list-classic-node.tsx
  docs/(plugins)/(elements)/list-classic.mdx
  docs/components/changelog.mdx
Labels: plugin:list-classic, size:M

#4463 fix getSelectedDomFragment
  .changeset/core-patch-getselecteddomfragment.md
  packages/core/src/lib/static/utils/getSelectedDomFragment.tsx
Labels: patch, dom, size:S

#4493 Fix indent list when custom paragraph node type
  .changeset/markdown-patch.md
  apps/www/src/app/dev/c.tsx
  apps/www/src/registry/components/editor/plugins/list-classic-kit.tsx
  packages/markdown/src/lib/deserializer/utils/customMdxDeserialize.ts
  packages/markdown/src/lib/deserializer/utils/markdownToSlateNodesSafely.ts
  packages/markdown/src/lib/rules/defaultRules.ts
  packages/markdown/src/lib/serializer/convertNodesSerialize.ts
  packages/markdown/src/lib/serializer/standardList.spec.tsx
Labels: plugin:markdown, patch, size:M

#4499 should open context menu when right click margin-top
  apps/www/src/registry/components/editor/plugins/basic-blocks-kit.tsx
  apps/www/src/registry/components/editor/plugins/floating-toolbar-classic-kit.tsx
  apps/www/src/registry/components/editor/slate-to-html.tsx
  apps/www/src/registry/components/editor/transforms-classic.ts
  apps/www/src/registry/registry-kits.ts
  apps/www/src/registry/registry-ui.ts
  apps/www/src/registry/ui/block-context-menu.tsx
  apps/www/src/registry/ui/block-draggable.tsx
  apps/www/src/registry/ui/floating-toolbar-classic-buttons.tsx
  apps/www/src/registry/ui/insert-toolbar-classic-button.tsx
  apps/www/src/registry/ui/list-classic-toolbar-button.tsx
  apps/www/src/registry/ui/turn-into-toolbar-button.tsx
  docs/components/changelog.mdx
Labels: plate-ui, size:L

#4509 fix(docs): correct typo in get started installation page
  docs/installation.mdx
Labels: patch, size:XS

#4508 Add `addOnContextMenu`
  .changeset/flat-apes-build.md
  apps/www/src/registry/ui/block-draggable.tsx
  docs/components/changelog.mdx
  packages/selection/src/react/BlockSelectionPlugin.tsx
  packages/selection/src/react/hooks/useBlockSelectable.ts
Labels: plugin:block-selection, lgtm, size:L

#4521 fix(registry): include `ListPlugin` in `list-classic-kit`
  apps/www/src/registry/components/editor/plugins/list-classic-kit.tsx
  docs/components/changelog.mdx
Labels: plugin:list-classic, patch, size:XS

#4518 Fix ai related issues
  .changeset/brave-foxes-stream.md
  apps/www/public/r/ai-api.json
  apps/www/public/r/ai-kit.json
  apps/www/public/r/ai-menu.json
  apps/www/public/r/block-draggable.json
  apps/www/public/r/components-changelog-docs.json
  apps/www/public/r/indent-kit.json
  apps/www/public/r/list-kit.json
  apps/www/public/r/markdown-joiner-transform.json
  apps/www/public/r/markdown-streaming-demo.json
  apps/www/public/r/registry.json
  apps/www/public/tailwind.css
  apps/www/src/__registry__/index.tsx
  apps/www/src/app/dev/c.tsx
  apps/www/src/app/dev/markdownStreamDemo.tsx
  apps/www/src/app/dev/page.tsx
  apps/www/src/components/component-preview.tsx
  apps/www/src/config/docs-examples.ts
  apps/www/src/config/docs-icons.tsx
  apps/www/src/registry/app/api/ai/command/route.ts
  apps/www/src/registry/components/editor/plugins/ai-kit.tsx
  apps/www/src/registry/components/editor/plugins/indent-kit.tsx
  apps/www/src/registry/components/editor/plugins/list-kit.tsx
  apps/www/src/registry/examples/markdown-streaming-demo.tsx
  apps/www/src/registry/lib/markdown-joiner-transform.ts
  apps/www/src/registry/registry-components.ts
  apps/www/src/registry/registry-examples.ts
  apps/www/src/registry/registry-lib.ts
  apps/www/src/registry/ui/ai-menu.tsx
  docs/(plugins)/(ai)/ai.cn.mdx
  docs/(plugins)/(ai)/ai.mdx
  docs/(plugins)/(serializing)/markdown.cn.mdx
  docs/(plugins)/(serializing)/markdown.mdx
  docs/components/changelog.mdx
  packages/ai/src/lib/streaming/streamDeserializeMd.ts
  packages/ai/src/lib/streaming/streamInsertChunk.ts
  packages/ai/src/lib/streaming/streamSerializeMd.ts
  packages/ai/src/lib/transforms/removeAIMarks.ts
  packages/ai/src/react/ai-chat/AIChatPlugin.ts
  packages/ai/src/react/ai-chat/transforms/removeAnchorAIChat.ts
  packages/layout/src/lib/withColumn.ts
  packages/markdown/src/lib/__tests__/createTestEditor.tsx
  packages/markdown/src/lib/deserializer/__snapshots__/deserializeMd.spec.tsx.snap
  packages/markdown/src/lib/deserializer/deserializeMd.spec.tsx
  packages/markdown/src/lib/deserializer/deserializeMd.ts
  packages/markdown/src/lib/deserializer/utils/customMdxDeserialize.ts
  packages/markdown/src/lib/mdast.ts
  packages/markdown/src/lib/rules/columnRules.ts
  packages/markdown/src/lib/rules/defaultRules.ts
Labels: plugin:markdown, plugin:ai, size:XXL

#4528 Fix dnd preview
  .changeset/smooth-dnd-preview.md
  apps/www/src/registry/ui/block-draggable.tsx
  docs/components/changelog.mdx
  packages/dnd/src/components/useDraggable.ts
  packages/dnd/src/hooks/useDndNode.ts
  packages/dnd/src/hooks/useDragNode.ts
Labels: patch, plugin:dnd, size:M

#4530 Fix table dnd
  apps/www/src/registry/ui/block-draggable.tsx
  docs/components/changelog.mdx
Labels: patch, plugin:dnd, lgtm, size:M
