Repository udecode/plate, pull requests merged in 2025-08, with the labels that each got.

#4537 Fix block selection duplication with table selection
  .changeset/core-minor.md
  .changeset/selection-patch.md
  .changeset/slate-patch.md
  apps/www/public/r/ai-menu.json
  apps/www/public/r/block-discussion.json
  apps/www/public/r/block-draggable.json
  apps/www/public/r/column-node.json
  apps/www/public/r/components-changelog-docs.json
  apps/www/public/r/media-toolbar.json
  apps/www/public/r/table-node.json
  apps/www/src/registry/ui/ai-menu.tsx
  apps/www/src/registry/ui/block-discussion.tsx
  apps/www/src/registry/ui/block-draggable.tsx
  apps/www/src/registry/ui/column-node.tsx
  apps/www/src/registry/ui/media-toolbar.tsx
  apps/www/src/registry/ui/table-node.tsx
  docs/components/changelog.mdx
  packages/core/src/react/plugins/event-editor/EventEditorPlugin.ts
  packages/core/src/react/plugins/event-editor/index.ts
  packages/core/src/react/plugins/event-editor/useFocusedLast.ts
  packages/selection/src/react/BlockSelectionPlugin.tsx
  packages/selection/src/react/components/BlockSelectionAfterEditable.tsx
  packages/selection/src/react/transforms/duplicateBlockSelectionNodes.ts
  packages/slate/src/internal/transforms-extension/duplicateNodes.ts
  yarn.lock
Labels: bug, core, size:L

#4544 Fix drop target path
  .changeset/odd-spies-carry.md
  packages/dnd/src/transforms/onDropNode.ts
Labels: bug, size:XS

#4560 Accept components with props of type PlateElementProps
  .changeset/strong-walls-invite.md
  packages/core/src/react/components/plate-nodes.tsx
Labels: core, size:S

#4571 fix(block-discussion): remove useFocusedLast check for discussion popover
  apps/www/public/r/block-discussion.json
  apps/www/public/r/components-changelog-docs.json
  apps/www/public/r/installation-docs-docs.json
  apps/www/public/r/installation-mcp-docs.json
  apps/www/src/registry/ui/block-discussion.tsx
  docs/components/changelog.mdx
Labels: plugin:block-selection, size:S

#4572 Fix deserialize incomplete mdx tag with line breaks.
  .changeset/weak-lobsters-play.md
  apps/www/src/app/dev/c.tsx
  apps/www/src/app/dev/layout.tsx
  apps/www/src/app/dev/markdownStreamDemo.tsx
  apps/www/src/app/dev/page.tsx
  apps/www/src/components/component-preview.tsx
  apps/www/src/components/mcp-dialog.tsx
  apps/www/src/registry/components/editor/plugins/indent-kit.tsx
  apps/www/src/registry/examples/markdown-streaming-demo.tsx
  apps/www/src/registry/lib/markdown-joiner-transform.ts
  packages/ai/src/lib/streaming/streamInsertChunk.spec.tsx
  packages/ai/src/lib/streaming/streamInsertChunk.ts
  packages/ai/src/react/ai-chat/transforms/removeAnchorAIChat.ts
  packages/core/src/lib/plugin/SlatePlugin.ts
  packages/core/src/lib/plugins/ParserPlugin.ts
  packages/core/src/lib/plugins/slate-extension/SlateExtensionPlugin.ts
  packages/core/src/react/plugin/PlatePlugin.ts
  packages/dnd/src/components/useDraggable.ts
  packages/dnd/src/hooks/useDndNode.ts
  packages/dnd/src/hooks/useDragNode.ts
  packages/list-classic/src/lib/normalizers/normalizeListItem.ts
  packages/list-classic/src/lib/queries/getListTypes.ts
  packages/list-classic/src/lib/queries/getTaskListProps.ts
  packages/list/src/lib/queries/getListChildren.spec.tsx
  packages/markdown/src/lib/deserializer/__snapshots__/deserializeMd.spec.tsx.snap
  packages/markdown/src/lib/deserializer/convertTextsDeserialize.ts
  packages/markdown/src/lib/deserializer/deserializeMd.spec.tsx
  packages/markdown/src/lib/deserializer/utils/customMdxDeserialize.ts
  packages/markdown/src/lib/deserializer/utils/markdownToSlateNodesSafely.ts
  packages/markdown/src/lib/rules/defaultRules.ts
  packages/markdown/src/lib/serializer/serializeMention.spec.ts
  packages/markdown/src/lib/serializer/standardList.spec.tsx
  packages/markdown/src/lib/serializer/utils/getSerializerByKey.ts
  packages/markdown/src/lib/types.ts
  packages/utils/src/lib/plate-keys.ts
Labels: plugin:markdown, size:XXL

#4592 Hide drop line on cancel drag
  .changeset/khaki-insects-remain.md
  packages/dnd/src/DndPlugin.tsx
Labels: plugin:dnd, lgtm, size:M

#4595 Enable dnd between editors
  .changeset/swift-moons-fetch.md
  packages/dnd/src/transforms/onDropNode.spec.ts
  packages/dnd/src/transforms/onDropNode.ts
  packages/dnd/src/transforms/onHoverNode.spec.ts
  packages/dnd/src/types.ts
  packages/dnd/src/utils/getHoverDirection.spec.ts
Labels: plugin:dnd, size:M

#4597 Enhance dnd ux...
  .changeset/happy-planets-learn.md
  packages/dnd/src/DndPlugin.tsx
Labels: plugin:dnd, lgtm, size:M
